/*
 * layout
*/


// header
.l-logo-con {
	float: left;
	margin: 10px 96px 13px 9px;
}

// site wide
.l-horizontal-nav {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		float: left;
	}
}

body {
	background: url(../img/bg.svg) repeat left top;
	background-size: 16px 16px;
	background-attachment: fixed;
}

.l-container {
	width: 100%;
	min-height: 40em;
	margin-top: 54px;
	padding-left: 9px;
	padding-bottom: 30px;

}

.no-svg .l-container {
	background-image: url(../img/bg.png);
}

// modules and panels
.l-panel {
	float: left;
	margin: 0 0 5px;

}

.l-col {
	float: left;
	margin-right: 5px;
}

.l-module {
	background: $light-gray;
}



