/* ==========================================================================
   Site Variables
   ========================================================================== */

/**
 * Dimensions
 */

/**
 * colors
 */

// black, grays and whites
$white: #fff;
$light-gray: #ebebeb;
$dark-gray: #7d7d7b;
$black: #000;

// other colors
$yellow: #ffff00;
$green: #67fc85;
$red: #ff4e59;
$blue: #00afff;
$sky-blue: #67e1ff;
$purple: #d000ff;
$deep-red: #d00057;

.statement-module.yellow,
.yellow {
	background-color: $yellow;
}

.statement-module.green,
.green {
	background-color: $green;
}

.statement-module.red,
.red {
	background-color: $red;
}

.statement-module.blue,
.blue {
	background-color: $blue;
}

.statement-module.sky-blue,
.sky-blue {
	background-color: $sky-blue;
}

.statement-module.purple,
.purple {
	background-color: $purple;
}

.statement-module.deep-red,
.deep-red {
	background-color: $deep-red;
}

/**
 * fonts
 */

 $font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 $font-family-dag: "ff-dagny-web-pro",sans-serif;

 $dag-light: 200;
 $dag-reg: 400;
 $dag-bold: 700;


/**
 * Some defautls
 */
 
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box; 
}

html,
body {
	font-family: $font-family;
}

a {
	color: $black;
}