/*
 * modules
*/

.statement-module {
	width: 161px;
	height: 160px;
	padding: 16px 13px;
	margin-bottom: 5px;

	h1 {
		margin: 0;
		font: italic normal $dag-light 20px/22px $font-family-dag;
		color: $white;
		letter-spacing: 1px;
	}

	a {
		font: italic normal $dag-light 10px/12px $font-family-dag;
		color: $white;

		&:hover {
			text-decoration: none;
		}
	}
}

.primary-image-module {
	position: relative;
	width: 327px;
	height: 327px;
	margin-bottom: 5px;
}

.secondary-image-module {
	position: relative;
	width: 161px;
	height: 327px;
}

.tertiary-image-module {
	position: relative;
	width: 161px;
	height: 160px;
	float: left;
}

.graphic-module {
	width: 161px;
	height: 160px;
	float: left;
	margin-right: 5px;
}