/*
 * modules
*/

.statement-module {
	width: 161px;
	height: 160px;
	// padding: 16px 13px;
	margin-bottom: 5px;
	background-color: #ff4e59;

	h1 {
		margin: 0;
		font: italic normal $dag-light 20px/22px $font-family-dag;
		color: $white;
		letter-spacing: 1px;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 16px 13px;
		text-decoration: none;
	}

	p {
		font: italic normal $dag-light 10px/12px $font-family-dag;
		color: $white;
		text-transform: capitalize;
		letter-spacing: 1px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&.projects-view {
		float: left;
		margin-right: 5px;
	}
}

.primary-image-module {
	position: relative;
	width: 327px;
	height: 327px;
	margin-bottom: 5px;
}

.secondary-image-module {
	position: relative;
	width: 161px;
	height: 327px;
}

.tertiary-image-module {
	position: relative;
	width: 161px;
	height: 160px;
	float: left;
}

.graphic-module {
	width: 161px;
	height: 160px;
	float: left;
	margin-right: 5px;
}