/*
 * modules
*/

.statement-module {
	width: 161px;
	height: 160px;
	margin-bottom: 5px;
}

.primary-image-module {
	width: 327px;
	height: 327px;
	margin-bottom: 5px;
}

.secondary-image-module {
	width: 161px;
	height: 327px;
}

.tertiary-image-module {
	width: 161px;
	height: 160px;
	float: left;
}

.graphic-module {
	width: 161px;
	height: 160px;
	float: left;
	margin-right: 5px;
}